@use 'variaveis';
@import 'mixins';

.experiencias{
    background-color: variaveis.$corDeFundo;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 8%;
    height: 70vh;


    @media (min-width: 481px) and (max-width: 767px) {
    height: 40vh;
    }
    
    @media (min-width: 768px) and (max-width: 1024px) {
    height: 30vh;
    }

    .card{
    background-color: variaveis.$corDeFundo;
    }

    .card-text{
    width: 150%;
    margin-left: -25%;
    @include estilo-paragrafo;
    }

    .card-title{
    font-size: 30px;
    color: variaveis.$cordeTexto;
    width: 150%;
    margin-left: -70px;

    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 17px;
        width: 100% ;
        margin-left: 2%;
    }

    }

}