@use 'variaveis';
@import 'mixins';


.fale-conosco {
    background-color: #000;
    padding-left: 5%;
    padding-top: 3%;
    color: variaveis.$cordeTexto;

    @media screen and (max-width: 765px) {
    height: 90vh;
    }

    @media screen and (min-width: 766px) and (max-width: 1023px) {
    height: 92vh;
    }

    .card-text{
        @include estilo-paragrafo;
        @media screen and (min-width: 766px) and (max-width: 1023px) {
        font-size: 13px;
        }
    }

    #contact {
        width: 100%;

        form{
        margin-left: 21%;
        @media screen and (max-width: 765px) {
        margin-top: 10%;
        margin-left: 0;
        }

        @media screen and (min-width: 766px) and (max-width: 1023px) {
        width: 20%;
        margin-left: 10%;
        }
    }
    
        label{
        width: 220%;

        @media screen and (max-width: 765px) {
        width: 100%;
        }

        @media screen and (min-width: 766px) and (max-width: 1023px) {
        width: 200%;
        font-size: 13px;
        }

    }

        input{
        border-radius: 2%;
        border: none;
    }

        .btn{
        @include estilo-botão;
        width: 60%;
        font-weight: bold;
    }

        .btn:hover{
        @include estilo-botão-hover;
    }
    
        .col-md-7{
        display: flex;
        width: 90%;

        @media screen and (max-width: 765px) {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        }
    }

}

.sankofa {
    display: flex;
    justify-content: space-between;
    padding-top: 8%;
    @media screen and (max-width: 765px) {
        padding-top: 15%;
        display: flex;
        flex-direction: column;
        }

        .card-title{
        color: variaveis.$cordeTexto;
        }

        i{
        color: variaveis.$textColored2;
        }

        .c2{
        display: flex;
        width: 50%;
    
    ul{
    display: flex;
    flex-direction: column;
    }

    #a1{
        @media screen and (min-width: 766px) and (max-width: 1023px) {
        margin-left: 20%;
        }
        ul{
        display: flex;
        flex-direction: row;
        }
    }
        
}

    .col-md-5 {
        @media screen and (max-width: 765px) {
        margin-top: 10%;
        }

        a{
        color: variaveis.$cordeTexto;
        font-size: 15px;
        }

        #list{
            @media screen and (max-width: 765px) {
            margin-left: 195%;
            width: 150%;
            }
        }
    }

}

}
