@use 'variaveis';

    header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    }

    .navbar {
    height: 20vh;
    background-color: variaveis.$corDeFundo;

    .navbar-toggler {
    width: 10%;
    background-color: #fff;
    border-radius: 5px;
    }
        .nav-item {
        transition: border-bottom 0.3s ease-in-out;
        border-bottom: 2px solid transparent; 
        }

        .nav-item:hover {
        border-bottom: 2px solid #fff; 
        }

        .card-title {
        color: variaveis.$cordeTexto;
        }

        .card-title:hover {
        color: variaveis.$cordeTexto;
        }

        i {
        color: variaveis.$textColored1;
        }

        a {
        color: variaveis.$cordeTexto;
        text-decoration: none;
        }

        a:hover {
        color: variaveis.$cordeTexto; 
        }
}

@media  (max-width: 481px) and (max-width: 767px) {
    .navbar .navbar-toggler {
        width: 17%;
        margin-left: 85%;
        margin-top: -13%;
        background-color: #fff;
        border-radius: 5px;
        }

    header .nav-pills{
        background-color: #292828;
        font-size: 13px;
        margin-left: -5%;
        margin-right: 60%;
        }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar { 
        height: 120px;
        }

    .nav-pills{
        margin-left: 18%;
        }

    .sticky-top {
        position: static !important; 
        }
}


















